
#marsel {
    color: red
}

.highlight {
    color:red;
}

/* Define the colors for the nav-link */
.nav-link-blue {
    color: blue;
}

.nav-link-white {
    color: white;
}

.navbar.navbarDark {
    background-color: black;
}

#navbar {
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

#navbar.scrolled {
    background-color: black;
}

#navbar.scrolled .nav-link{
    color: white;
}

.nav-link:hover, #navbar.scrolled .nav-link:hover {
    color: gray;
}

.navbarSupportedContent {
    color: white;
}

/* hero background image */
.bgimage {
    height:100vh;
    /*glass backgroundn on text atop of image*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(154,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(268,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='11.549999999999999'%3E%3Cpath transform='translate(-136.5 -24.8) rotate(-30.5 1409 581) scale(0.7266)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='3.8500000000000005' transform='translate(-288 138) rotate(-8.6 800 450) scale(0.9680499999999999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-35.8 36) rotate(-136 401 736) scale(0.9680499999999999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='3.5'%3E%3Cpath transform='translate(828 44.8) rotate(-11.2 150 345) scale(1.0582)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='7.700000000000001' transform='translate(-2 -395) rotate(-223.2 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-268 36) rotate(-37.2 1400 132) scale(0.5)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /*
    background: url("../images/selfie.png");
    */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
  
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(28, 3, 6);
    font-weight: bold;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

#about {
    padding-top: 20px;
    margin-bottom: 100px;
}

/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}

#contact {
    padding-bottom: 14rem;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    z-index: 1;
}

.navbar-toggler {
    color: white;
}

.fa-linkedin, .fa-twitter, .fa-github, .fa-instagram, .fa-facebook {
    font-size: 25px;
    color: white;
    margin: 0 10px 0 10px;
}

.fa-linkedin:hover, .fa-twitter:hover, .fa-github:hover, .fa-instagram:hover, .fa-facebook:hover {
    color: gray;
}

section {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
  
}

#profile{
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid;
}

#portfolio {
    margin-bottom: 100px;
}